
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.*/

html {
  line-height: 1.15;

  /* 1*/
  -webkit-text-size-adjust: 100%;
}
/* 2*/

/* Sections
 * ==========================================================================*/

/**
 * Remove the margin in all browsers.*/

body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.*/

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
 * ==========================================================================*/

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.*/

hr {
  box-sizing: content-box;

  /* 1*/
  height: 0;

  /* 1*/
  overflow: visible;
}
/* 2*/

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.*/

pre {
  font-family: monospace, monospace;

  /* 1*/
  font-size: 1em;
}
/* 2*/

/* Text-level semantics
 * ==========================================================================*/

/**
 * Remove the gray background on active links in IE 10.*/

a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.*/

abbr[title] {
  border-bottom: none;

  /* 1*/
  text-decoration: underline;

  /* 2*/
}


/* 2*/

/**
 * Add the correct font weight in Chrome, Edge, and Safari.*/

b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.*/

code,
kbd,
samp {
  font-family: monospace, monospace;

  /* 1*/
  font-size: 1em;
}
/* 2*/

/**
 * Add the correct font size in all browsers.*/

small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
 * ==========================================================================*/

/**
 * Remove the border on images inside links in IE 10.*/

img {
  border-style: none;
}
/* Forms
 * ==========================================================================*/

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;

  /* 1*/
  font-size: 100%;

  /* 1*/
  line-height: 1.15;

  /* 1*/
  margin: 0;
}
/* 2*/

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.*/

button,
input {  /* 1*/
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.*/

button,
select {  /* 1*/
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.*/

fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.*/

legend {
  box-sizing: border-box;

  /* 1*/
  color: inherit;

  /* 2*/
  display: table;

  /* 1*/
  max-width: 100%;

  /* 1*/
  padding: 0;

  /* 3*/
  white-space: normal;
}
/* 1*/

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.*/

progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.*/

textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.*/

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;

  /* 1*/
  padding: 0;
}
/* 2*/

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.*/

[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: auto;
  }
}/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.*/

[type="search"] {
  -webkit-appearance: textfield;

  /* 1*/
  outline-offset: -2px;

  /* 2*/

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}/**
 * Remove the inner padding in Chrome and Safari on macOS.*/

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.*/

\::-webkit-file-upload-button {
  -webkit-appearance: button;

  /* 1*/
  font: inherit;
}
/* 2*/

/* Interactive
 * ==========================================================================*/

/*
 * Add the correct display in Edge, IE 10+, and Firefox.*/

details {
  display: block;
}
/*
 * Add the correct display in all browsers.*/

summary {
  display: list-item;
}
/* Misc
 * ==========================================================================*/

/**
 * Add the correct display in IE 10+.*/

template,
[hidden] {
  display: none;
}
/**
 * Add the correct display in IE 10.*/


/* You can add global styles to this file, and also import other style files */

$BackgroungJG:  rgba(225, 207, 161, 0.5);

$BodyColor: #222222;
//Schrift
$backgroundColor: $BackgroungJG;
// Seitenhintergrundfarbe
$ResultTextColor: darkblue;

$inputTextBoxColor: #222222;
//Schrift
$inputTextBoxBackgroundColor:  rgba(199, 241, 167, 0.7);
$inputVariableColor: #222222;
//Schrift
$inputVariableBoxBackgroundColor: #FFFFCC;

$ButtonColorBackgroundStd: lightblue;
//Bachground
$ButtonTextColorStd: #222222;
//Schrift
$ButtonColorErg: #5a5f23;
//Schrift
$ButtonTextColorErg: #d3edca;

$ButtonTextColorRoute: #0c3da8;
$ButtonColorRoute: #9299e5;
$ButtonBounderRoute: #9299e5;

$H1Color: #369;
$H2Color: #4d5c6c;
$H3Color: #4d5c6c;
$pColor: #222222;


$hoverColor: #cfd8dc;
$disabledColour: #e33333;
$navColor: lightskyblue;
$navVisitedColor: rgb(163, 42, 42);
$navLinkColor: rgb(163, 42, 42);
$inputOutputBoxWidth: 100px;


.imgSelButton {
  width: 275px;
}
.imgSelButtonProfile {
  width: 300px;
  height: auto;
}

.imgSelButtonProfileDouble {
  width: 280px;
}
.textPosition {
  text-align: left;
  padding: 0;
  margin: 0;

  //padding-left: 1cm
  //padding-bottom: 2cm
  //margin-left: 2cm
  z-index: 1;
  background-color: $backgroundColor;
  opacity: 100;
}
h1 {
  color: $H1Color;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 250%;
}
h2 {
  color: $H2Color;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: lighter;
}
h3 {
  color: $H3Color;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: lighter;
}
p {
  color: $pColor;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 0.7em;
}
body {
  color: $BodyColor;
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.PrintOfResults {
  font-size: small;
  color: $ResultTextColor;
}
.inputBoxStyle1 {
  background-color: $inputTextBoxBackgroundColor;
  color: $inputTextBoxColor;
  margin: 3px 10px;
  text-align: right;
  width: $inputOutputBoxWidth;
}
.ResultValue {
  float: left;
  text-align: right;
  margin: 3px 10px;
  width: $inputOutputBoxWidth;
}
.autofill {
  background-color: lightblue;
  border-top-width: 2px;
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-radius: 4px;
  padding: 5px 10px;
  width: 50px;
}
.inputvarSymbol {
  background-color: $inputVariableBoxBackgroundColor;
  color: $inputVariableColor;
  float: left;
  margin: 0 0;
  text-align: center;
  width: 55px;
}
.inputLabel {
  clear: left;
  margin-bottom: 3px;
  margin-top: 3px;
  text-align: right;
  width: 300px;
}
.inputLabelBig {
  float: left;
  margin-bottom: 3px;
  margin-top: 3px;
  text-align: right;
  width: 300px;
  font-size: 135%;
}
.ergebnisLabel {
  float: left;
  text-align: right;
  width: 300px;
}

.TextAsButton {
  width: 600px;
  text-align: center;
  color: $ButtonTextColorStd;
  background-color: $ButtonColorBackgroundStd;
  border-top-width: 2px;
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-radius: 4px;
  padding: 5px;



  &:hover {
    background-color: $hoverColor;
  }
}
.TextAsButtonRoute {
  float: left;
  color: $ButtonTextColorRoute;
  font-size: 13px;
  background-color: $ButtonColorRoute;
  padding: 8px;
  margin: 5px;
  width: 100px;
  height: auto;
  text-align: center;
  vertical-align: middle;

  border-radius: 5px;


  &:hover {
    background-color: $hoverColor;
    color: $ButtonTextColorRoute;
  }
}
.TextAsButtonResults {
  background-color: $ButtonColorErg;
  color: $ButtonTextColorErg;
  border-top-width: 2px;
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-radius: 4px;
  padding: 5px 10px;
  width: 100px;

  &:hover {
    background-color: $hoverColor;
  }
}
.containerdivNewLine {
  clear: both;
  float: left;
  display: block;
  position: relative;
}

a {
  cursor: pointer;
}


label {
  float: none;
}

button {
  color: $ButtonTextColorStd;
  background-color: $ButtonColorBackgroundStd;
  border-width: 2px;
  border-radius: 4px;
  padding: 5px 10px;



  &:hover {
    background-color: $hoverColor;
  }
  &:disabled {
    background-color: $disabledColour;
    color: #aaa;
    cursor: auto;
  }

  //nav a
  //  background-color: $navColor
  //  border-radius: 4px
  //  display: inline-block
  //  margin: 10px
  //  padding: 5px
  //  text-decoration: none
  //
  //
  //  &:visited
  //    color: $navVisitedColor

  //a:link
  //  color: $navLinkColor

  //nav a
  //  &:hover
  //    background-color: #CFD8DC
  //    color: #039be5
  //
  //  &.active
  //    color: #039be5
}/* items class*/


.items {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding-left: 0;
  width: 10em;

  li {
    background-color: #EEE;
    border-radius: 4px;
    cursor: pointer;
    height: 1.6em;
    left: 0;
    margin: .5em;
    padding: .3em;
    position: relative;

    &:hover {
      background-color: #DDD;
      color: #607D8B;
      left: .1em;
    }
    &.selected:hover {
      background-color: #BBD8DC;
      color: white;
    }
  }
  .text {
    position: relative;
    top: -3px;
  }

  .badge {
    background-color: #607D8B;
    border-radius: 4px 0 0 4px;
    color: white;
    display: inline-block;
    font-size: small;
    height: 1.8em;
    left: -1px;
    line-height: 1em;
    margin-right: .8em;
    padding: 0.8em 0.7em 0 0.7em;
    position: relative;
    top: -4px;
  }
  li.selected {
    background-color: #CFD8DC;
    color: white;
  }
}/* everywhere else*/

* {
  font-family: Roboto, Helvetica, sans-serif;
}
//html
//  height: 90%

// the auto html staffolding column width

.col_1 {
  width: 300px;
}
.col_2 {
  width: 5px;
}
.Col_3 {
  width: 60px;
}
.Col_4 {
  width: 10px;
}
.Col_5 {
  width: 60px;
}
.Col_6 {
  width: 1px;
}
.Col_7 {
  width: 130px;
}
.Col_8 {
  width: 75px;
}
.Col_9 {
  width: 200px;
}
